<?xml version="1.0"?>
<model>
  <name>MTracker</name>
  <version>1.0</version>
  <sdf version='1.4'>model.sdf</sdf>

  <author>
   <name>Cezary Horbacz</name>
   <email>cezary.horbacz@student.put.poznan.pl</email>
  </author>

  <description>
    Pierwsza wersja modelu MTrackera
  </description>
</model>
